# Global code owners
* @kabzon93region

# Documentation
*.md @kabzon93region

# Python files
*.py @kabzon93region

# Configuration files
*.yml @kabzon93region
*.yaml @kabzon93region
*.json @kabzon93region
*.toml @kabzon93region
*.cfg @kabzon93region
*.ini @kabzon93region

# GitHub specific
.github/ @kabzon93region
